<div class="panel panel-danger">
	<div class="panel-heading" role="tab" id="$headingFail">
		<div class="row">
			<div class="collapsed col-md-11 text-left" role="button" data-toggle="collapse" data-parent="#accordionFail" href="#$collapseFail" aria-expanded="false" aria-controls="$collapseFail">
				<h4 class="panel-title">$testcaseName&nbsp;&nbsp;</h4>
			</div>
		</div><!--End .row-->
	</div><!--End #headingFail-->
	<div id="$collapseFail" class="panel-collapse collapse" role="tabpanel" aria-labelledby="$headingFail">
		<div class="panel-body">
			$log
			<div class="row">
				<img class="col-md-10 col-md-offset-1 img-thumbnail" src="$image" alt="Lỗi hình ảnh"/>
			</div>
		</div><!--End .panel-body-->
	</div><!--End #collapseFail-->
	<div class="panel-footer">
		<blockquote>
		  <p>$message</p>
		</blockquote>
	</div><!--End .panel-footer-->
</div><!--End .panel-->