<div class="panel panel-success">
	<div class="panel-heading" role="tab" id="$headingPass">
		<div class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionPass" href="#$collapsePass" aria-expanded="false" aria-controls="$collapsePass">
			<h4 class="panel-title">$testcaseName&nbsp;&nbsp;</h4>
		</div>
	</div><!--End #headingPass-->
	<div id="$collapsePass" class="panel-collapse collapse" role="tabpanel" aria-labelledby="$headingPass">
		<div class="panel-body">
			<div class="row">
				<img class="col-md-10 col-md-offset-1 img-thumbnail" src="$image" alt="Lỗi hình ảnh"/>
			</div>
		</div><!--End .panel-body-->
	</div><!--End #collapsePass-->
</div><!--End .panel-->