					<div class="row">
                      <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-primary">
                          <div class="row">
                            <table width="100%">
                                <div class="col-md-12"><div id="container1"></div></div>
                                <div class="col-md-12">
                                  <ul class="list-group">
                                    <li class="list-group-item">Date<span class="badge">$date</span></li>
                                    <li class="list-group-item">Time<span class="badge">$startTime</span></li>
                                    <li class="list-group-item">Total testcase<span class="badge">$numberTestcase</span></li>
                                    <li class="list-group-item">Testcase pass<span class="badge badge-success">$numberPass</span></li>
                                    <li class="list-group-item">Testcase fail<span class="badge badge-danger">$numberFail</span></li>
                                  </ul>
                                </div>
                            </table>
                          </div><!--End .row-->
                        </div><!--End .panel-->
                      </div><!--End .col-md-6-->
                    </div><!--End .row-->




              <div class="row">
                  <ul class="nav nav-tabs col-md-10 col-md-offset-1 panel panel-default bs-example" style="margin-bottom:0">
                    <li class="active" id="tabDetail"><a data-toggle="tab" href="#detail">Detail</a></li>
                  </ul>
                  <div class="col-md-10 col-md-offset-1 tab-pane fade in active" id = "detail" style="padding-left:0;padding-right:0;">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <p>
                          <ul id="resultTabs" class="nav nav-pills" role="tablist">
                            <li role="presentation" class=""><a href="#pass" id="pass-tab" role="tab" data-toggle="tab" aria-controls="pass" aria-expanded="true">Pass <span class="badge badge-success">$numberPass</span></a></li>
                            <li role="presentation" class=""><a href="#fail" role="tab" id="fail-tab" data-toggle="tab" aria-controls="fail" aria-expanded="false">Fail <span class="badge badge-danger">$numberFail</span></a></li>
                            
                          </ul><!--End #resultTabs-->
                        </p>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade" id="pass" aria-labelledby="pass-tab">
                            <div class="panel-group well" id="accordionPass" role="tablist" aria-multiselectable="true">								
                              $pass
                            </div><!--End #accordionPass-->
                          </div><!--End #pass-->
                          
                          <div role="tabpanel" class="tab-pane fade" id="fail" aria-labelledby="fail-tab">
                            <div class="panel-group well" id="accordionFail" role="tablist" aria-multiselectable="true">
                              $fail						
                            </div><!--End #accordionFail-->
                          </div><!--End #fail-->
                          
                          
                        </div><!--End #myTabContent-->
                        
                      </div><!--End .panel-body-->
                    </div>
                  </div>
                  
                </div><!--End .row-->