<ul class="nav nav-tabs col-md-10 col-md-offset-1 panel panel-default bs-example" style="margin-bottom:0">
			<li class="active" id="tabDetail"><a data-toggle="tab" href="#detail">Detail</a></li>
			<li id="tabCompare"><a data-toggle="tab" href="#compare">Compare</a></li>
		</ul>
		<div class="col-md-10 col-md-offset-1 tab-pane fade in active" id = "detail" style="padding-left:0;padding-right:0;">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>
						<ul id="resultTabs" class="nav nav-pills" role="tablist">
							<li role="presentation" class=""><a href="#pass" id="pass-tab" role="tab" data-toggle="tab" aria-controls="pass" aria-expanded="true">Pass <span class="badge badge-success">$numberPass</span></a></li>
							<li role="presentation" class=""><a href="#fail" role="tab" id="fail-tab" data-toggle="tab" aria-controls="fail" aria-expanded="false">Fail <span class="badge badge-danger">$numberFail</span></a></li>
							
						</ul><!--End #resultTabs-->
					</p>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade" id="pass" aria-labelledby="pass-tab">
							<div class="panel-group well" id="accordionPass" role="tablist" aria-multiselectable="true">								
								$pass
							</div><!--End #accordionPass-->
						</div><!--End #pass-->
						
						<div role="tabpanel" class="tab-pane fade" id="fail" aria-labelledby="fail-tab">
							<div class="panel-group well" id="accordionFail" role="tablist" aria-multiselectable="true">
								$fail						
							</div><!--End #accordionFail-->
						</div><!--End #fail-->
						
						
					</div><!--End #myTabContent-->
					
				</div><!--End .panel-body-->
			</div>
		</div>
		
		
		<div class="col-md-10 col-md-offset-1 tab-pane fade" id = "compare" style="padding-left:0;padding-right:0;">
			<div class="panel panel-default">
				<div class="panel-body">
					<form action="" class="form-horizontal">
						<fieldset>
							<div class="control-group" style="height:30px;">
								<label class="control-label">Compare between today with </label>
								<div class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" style="height:30px;">
									<input size="16" type="text" value="" readonly style="height:32px;">
									<span class="add-on" style="height:32px;"><i class="icon-remove" ></i></span>
									<span class="add-on" style="height:32px;"><i class="icon-th"></i></span>
									<div class="btn btn-default" type="button style=" style="height:32px;" id="btn_compare">Go!</div>
								</div>
								<input type="hidden" id="dtp_input2" value="" /><br/>
							</div>
						</fieldset>
					</form>
					
					<div role="tabpanel" id="resole">
						<div id = 'haha'></div>
					</div><!--End #pass-->
				</div><!--End .panel-body-->
			</div>
		</div>